.text-regular {
  padding: 5px;
}

.text-large {
  padding: 10px 100px 10px 5px;
}

.text-small {
  font-size: 10px;
}

.counter {
  display: flex;
  background-color: #efefef;
  margin-right: 650px;
  height: 35px;
}

.clicker {
  padding: 5px 20px;
  border: none;
  color: var(--blue);
}

p {
  margin-top: 8px;
}

.dropdown {
  padding: 5px 100px 5px 5px;
  border-color: var(--grey);
}

.dropdown-small {
  padding: 5px 60px 5px 5px;
}

.dropdown-large {
  padding: 10px 100px 10px 5px;
}

.dropdown-dark {
  background-color: #efefef;
}

.voucher-normal {
  padding: 10px 20px 10px 10px;
}

.voucher-large {
  padding: 10px 10px 10px 5px;
  outline: #efefef;
}

.-Normal {
  background-color: var(--blue);
  padding: 5px 5px 5px 5px;
  color: white;
  border: var(--blue) solid 2px;
}

.-Large {
  background-color: var(--blue);
  color: white;
  border: var(--blue) solid 2px;
  padding: 10px 20px 10px 5px;
}
