.email-regular {
  padding: 5px;
}

.email-large {
  padding: 10px;
}

.email-small {
  font-size: 10px;
}

.counter {
  display: flex;
  background-color: #efefef;
  margin-right: 650px;
  height: 35px;
}

.clicker {
  padding: 5px 20px;
  border: none;
  color: var(--blue);
}

p {
  margin-top: 8px;
}

.dropdown {
  padding: 5px 100px 5px 5px;
}

.dropdown-small {
  padding: 5px 60px 5px 5px;
}

.dropdown-large {
  padding: 10px 100px 10px 5px;
}

.dropdown-dark {
  background-color: #efefef;
}
